<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Beyond Blues - weekender</title>
    </head>
    <body>
      <header>
        <h1>Beyond Blues</h1>
        <nav>
          <ul>
            {% for p in collections.page %}
            <li><a href="{{ p.url | url }}" {% if page.url == p.url %}aria-current="page"{% endif %}>{{ p.data.title }}</a></li> 
          {% endfor %}
          </ul>
        </nav>
      </header>
      <main>
        {{ content }}
      </main>
    </body>
    <footer>
      <p>Beyond Blues</p>
    </footer>
</html>